/* GLOBAL STYLES
-------------------------------------------------- */

.h6, h1, h2, h3, h4, h5, h6, .reference {
	font-family: "Raleway", serif;
}

.testimonials {
  font-family: "Raleway", serif;
  font-size: 1.1em;
  color: #1fbed6;
}

.stats-text {
  color: #fff;
}

.intro-bio {
	line-height: 1.2em;
	margin-top: 20px;
	margin-bottom: 40px;
}

.section-title {
	font-size: 3em;
}

/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

footer, span {
  color: #8834ab;
}


/* COVER
-------------------------------------------------- */

/* Links */
a,
a:focus,
a:hover {
  color: #333;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #000;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: transparent;
  border: none;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  position: relative;
  background-image: url('../img/Cover4.jpg');
  opacity: 90%;
  display: table;
  width: 100%;
  height: 800px; /* For at least Firefox */
  min-height: 100px;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper > img {
  
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.cover {
  padding: 0 20px;
}

.cover-heading {
  padding-top: 260px;
  position: relative;
  font-weight: 800;
  font-size: 4em;
}

.cover-heading, .lead {
  text-align: center;
  color: #000;
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
  border: none;
}

.glyphicon.glyphicon-chevron-down {
  color: #000;
}

/* Padding and Margin for spacing */
.inner {
  padding: 30px;
}

.about-me {
  margin-bottom: 40px;
}

/* HEADER */
.nav {
  transition-duration: 1s;
  z-index: 50;
  width: 100%;
  top: 0;
}

#nav-home{
  margin-left: 40px;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav {
  float: left;
  position: fixed;
  }

.masthead-nav > li {
  display: inline-block;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  color: #000; /* IE8 proofing */
  color: rgba(0,0,0,1);
  border-bottom: 2px solid transparent;
  text-decoration: none;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: rgba(0,0,0,1);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #333
  border-bottom-color: #333;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}

.quote {
  font-size: 10px;
  font-weight: 100;
  line-height: 1.4;
}

.reference, .reference > a {
  font-size: 1em;
  color: #3e8cb1;
}

/* STATS
-------------------------------------------------- */

#Stats {
  margin-bottom: 80px;
  text-align: center;
}

.numbers {
  text-align: center;
}

.numbers_desc {
  text-align: center;
  margin-bottom: 30px;
}

.jumbotron {
  position: relative;
  background: url("../img/stats_background.jpg") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.glyphicon {
  text-align: center;
  color: #fff;
  display: block;
  font-size: 2.5em;
}

.glyphicon-time, .glyphicon-comment, .glyphicon-tasks, .glyphicon-globe {
  margin-bottom: -30px;
}


/* SKILLS CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

#experience {
  margin-top: 40px;
  margin-bottom: 60px;
}

.skills {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.glyphicon-search, .glyphicon-road, .glyphicon-console {
  text-align: center;
  color: #333;
  display: block;
  font-size: 2.5em;
}

.skill-info {
  text-align: center;
  margin-bottom: 60px;
}

/* ABOUT ME
------------------------- */

#me-info-title {
  padding-top: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
}

#me-info {
  margin-left: 0px;
  background-color: #d2d2d2;
}

#me-img {
  margin-right: 0px;
  padding-right: 0px;
}

.featurette-image.img-responsive.center-block {
  margin-bottom: 20px;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.table>tbody>tr>td {
	border-top: none;
	font-size: 1.2em;
	line-height: 1.6em;
	font-family: "Raleway", serif;
}

.table {
  margin-bottom: 0px;
  height: 400px;
}

.fa.fa-github.fa-2x, .fa.fa-linkedin.fa-2x {
  margin-right: 20px;
  color: #333;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 800;
  line-height: 1;
  letter-spacing: -1px;
}

/* FORM
------------------------- */

.form-horizontal {
  margin-top: 30px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
